<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/reset.css" type="text/css" />
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
		<title>Wonkette aggregator (But with a devil face added to every title)</title>
		<link rel="shortcut icon" type="image/png" href="/img/favicon.png">
	</head>

	<body>

		<div class="navbar">
			<a href="/">Home</a>
			<a href="/scrape">Scrape for new Articles</a>
			<a href="/articles">All Articles</a>
		</div>

		<h1>Wonkette Aggregator (But with a devil face added to every title)</h1>
	
		{{{body}}}

		<footer>
			<h6>© Will McCrory - 2018</h6>
			<div>
				<a target="_blank" href="https://wmccrory.github.io/portfolio">portfolio</a>
				<a target="_blank" href="https://www.linkedin.com/in/william-mccrory-849068154/">linkedin</a>
				<a target="_blank" href="https://github.com/wmccrory">github</a>
			</div>
			<script src="https://code.jquery.com/jquery.js"></script>	
			<script src="/javascript/javascript.js"></script>
		</footer>
	</body>
</html>