<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/reset.css" type="text/css" />
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
		<title>Wonkette aggregator (But with a devil face added to every title)</title>
		<link rel="shortcut icon" type="image/png" href="../../assets/img/favicon.png"/>
	</head>

	<body>

		<div class="navbar">
			<a href="/scrape">Scrape for new Articles</a>
			<a href="/articles">All Articles</a>
		</div>

		<h1>Wonkette Aggregator (But with a devil face added to every title)</h1>
	
		{{{body}}}

		<footer>
			<script src="https://code.jquery.com/jquery.js"></script>	
			<script src="/javascript/javascript.js"></script>
		</footer>
	</body>
</html>